* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

body {
  background-color: grey;
  min-width: 500px;
}

.container {
  width: 500px;
  margin: 0px auto;
  padding: 30px 0 0 0;
  position: relative;
}

.image {
  width: 100%;
  margin: auto auto;
}

.player {
  position: absolute;
  top: 200px;
  left: 100px;
  width: 60%;
  height: 100%;
  touch-action: none;
}

.frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.tapereel, .tapereel_2 {
  position: absolute;
  width: 60%;
}

.tapereel {
  top: -60px;
  left: -40px;
}

.tapereel_2 {
  top: -60px;
  left: 160px;
}

.active {
  animation: rotateAnimation 5s linear infinite;
  animation-play-state: running;
}

.paused {
  animation-play-state: paused;
}

.progressBar {
  width: 90%;
  position: absolute;
  top: 130px;
  left: 15px;
}

.slider {
  position: absolute;
  top: -16px;
  left: 0%;
}

.play {
  position: absolute;
  top: 150px;
  left: 120px;
}

.forward {
  position: absolute;
  top: 150px;
  left: 200px;
}

.backward {
  position: absolute;
  top: 150px;
  left: 30px;
}

@keyframes rotateAnimation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.dot {
  position: absolute;
  background-color: red;
  transform: translate(-50%, -50%);
}